body {
	background-color: black;
}

div.header {
	background-image: url('../images/bgimage.jpg');
	background-size: 100% 100%;
	text-align: center;
}

h1 {
	font-family: 'segoe script', 'segoe print', 'comic sans ms', cursive;
	color: red;
	font-size: 6em;
	padding: 30px 50px 50px 50px;
	text-shadow: 0 0 10px yellow;
}

p.title {
	color: white;
	font-size: 3em;
	padding-bottom: 10px;
	font-family: 'HP simplified Light', arial, sans-serif;
}

div.search {
	padding-top: 20px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
	width: 40%;
	margin: 0 auto;
}

input#search {
	padding: 3px;
}

/*input#submit {
	padding: 5px 30px 5px 5px;
}*/

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
	width: 100%;
	/*background-color: pink;*/
	text-align: center;
}

li.style {
	/*display: inline-block;*/
	padding: 50px 10px 10px 10px;
	margin: 10px;
}

li.style:hover {
	background-color: rgba(255, 0, 0, .5);
}

img.resize {
	max-width: 150%;
	height: 200px;
	float: left;
}

p.width {
	width: 120px;
	height: 100px;
	padding: 10px;
	color: yellow;
}

p.hidden {
	display: none;
}

p.ingredients {
	text-align: center;
}

p.id {
	display: none;
}

/*input.button {
	margin-top: 80px;
	position: relative;
}*/